.dash{
    color: #f0f0e5;
    border: 5px solid #f0f0e5;
    box-sizing:border-box;
    background-color: #17191a;
    float: right;
    position: sticky;
    display: flex;
    flex-direction: column;
    font-family: cursive;
    margin-right: 20px;
    margin-top: 22.5px;
}
.dashboard{
    font-size: 1.5rem;   
    background-color: #f0f0e5;
    color: #17191a;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 10px;
    
}
.home{
    color: #f0f0e5;
    font-size: 1.5rem;
    margin: 10px;
    
    &:hover{
        color: #d9f24f;
    }
}
.Achievements{color: #f0f0e5;
    font-size: 1.5rem;
    margin: 10px;

    &:hover{
    color: #d9f24f;
}}
.about{color: #f0f0e5;
    margin: 10px;

    font-size: 1.5rem;&:hover{
    color: #d9f24f;
}}
.projects{color: #f0f0e5;
    margin: 10px;

    font-size: 1.5rem;&:hover{
    color: #d9f24f;
}} 
